<h1>{{ name }}</h1>

<button pButton (click)="getName()">Cambiar nombre</button>
<br />
<br /><br />
<button
  pButton
  label="texto"
  class="p-button-help"
  icon="pi pi-search"
  iconPos="right"
></button>

<p-card
  header="Simple Card"
  [style]="{ width: '25rem', 'margin-bottom': '2em', 'margin-top': '2em' }"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </p>
</p-card>
